<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAPI</display-name>
    <servlet-name>UserAPI</servlet-name>
    <servlet-class>com.chiasetailieu.api.UserAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAPI</servlet-name>
    <url-pattern>/UserAPI</url-pattern>
  </servlet-mapping>
</web-app>